#article{
	text-align: left;

	width: 64%;
	align-content: center;
	font-family: sans;
	margin-left: 16%;
	background-color: white;
	border: 1px solid cadetblue;
	border-radius: 20px;
	float: left;
	margin-top: 2%;
	padding: 2%;
}

#article p{

	font-size: 20px;
	line-height: 26px;
	margin-bottom: 2%;
	margin-top: 2%;
}

#article h1{

	font-size: 44px;
	margin-bottom: 3%;
	color: #3b8689;
}
#article h2{
	
	font-size: 28px;
	margin-bottom: 2%;
	margin-top: 2%;
	color: #3a7ef6;
}
#article h3{
	
	font-size: 22px;
	margin-bottom: 2%;
	margin-top: 2%;
	color: #1e5671;
}
#art-section{
	
	align-content: center;
	text-align: center;
	float: left;
	background-image: url("https://media.giphy.com/media/BkjdN6MQCDPaw/giphy.gif");
	/*! background-repeat: no-repeat; */
	width: 100%;
	height: auto;
}
#article ul li{

	margin-left: 5%;
}
#article strong{
	
	color: #1e6d6f;
}
